<head>
  <link href="http://gmpg.org/xfn/11" rel="profile">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta http-equiv="content-type" content="text/html; charset=utf-8">

  <!-- Enable responsiveness on mobile devices-->
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1">

  <title>
    {% if page.title == "Home" %}
    {{ site.title }} &middot; {{ site.tagline }}
    {% else %}
    {{ page.title }} &middot; {{ site.title }}
    {% endif %}
  </title>

  <!-- CSS -->
  <link rel="stylesheet" href="{{ site.baseurl }}/public/css/poole.css">
  <link rel="stylesheet" href="{{ site.baseurl }}/public/css/syntax.css">
  <link rel="stylesheet" href="{{ site.baseurl }}/public/css/hyde.css">
  <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=PT+Sans:400,400italic,700|Abril+Fatface">

  <!-- Icons -->
  <link rel="apple-touch-icon-precomposed" sizes="144x144"
    href="{{ site.baseurl }}/public/apple-touch-icon-144-precomposed.png">
  <link rel="shortcut icon" href="{{ site.baseurl }}/public/favicon.ico">

  <!-- RSS -->
  <link rel="alternate" type="application/rss+xml" title="RSS" href="/atom.xml">

  <!-- Social -->
  <meta property="og:title" content="Mark’s Nook" />
  <meta name="author" content="Mark Tolmacs" />
  <meta property="og:locale" content="en_US" />
  <meta name="description" content="A personal site about Rust, JavaScript, DevOps and tech in general." />
  <meta property="og:description" content="A personal site about Rust, JavaScript, DevOps and tech in general." />
  {% seo %}
  <meta property="og:url" content="https://lazycat.hu/" />
  <meta property="og:site_name" content="Mark’s Nook" />
  <meta property="og:type" content="website" />
  <meta name="twitter:card" content="summary" />
  <meta property="twitter:title" content="Mark’s Nook" />
  <meta name="author" content="Mark Tolmacs" />
  <meta property="og:image" content="https://avatars.githubusercontent.com/u/14922478" />
  <meta property="twitter:image" content="https://avatars.githubusercontent.com/u/14922478" />
  <script type="application/ld+json">
  {"@context":"https://schema.org","@type":"WebSite","author":{"@type":"Person","name":"Mark Tolmacs"},"description":"A personal site about tech, IT and management.","headline":"Mark’s Nook","name":"Mark’s Nook","url":"https://lazycat.hu/"}
</script>
</head>